.legend {
	font-family: Arial, Verdana, Sans-serif;
	color:#333;
	background:#eee;
	height:200px;
	width:350px;
}
	
.left {
	float:left;
	width:150px;
	text-align:center;
	font-size:12px;
}

.right {
	float:right;
	width:200px;
	text-align:center;
}

ul.leg {
	list-style:none;
	margin:5px 0px;
	padding-left:59px;
}

ul.leg li {
	border:1px solid #666;
	height:20px;
	width:30px;
}

h3 {
	font-size:16px;
	font-weight:normal;
	margin-top:8px;
}

.left h3 {
	margin-bottom:25px;
}
